.screen {
  position: relative;
  height: 100vh;
  width: 100%;
  opacity: 0;
  animation: fade 0.5s ease-in forwards;
  background: #000000;
  display: flex;
  align-items: center;
}

.screen h1 {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  margin: 0 1em;
  letter-spacing: 1.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(5%, 10%);
  animation: slideIn 0.8s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.balls {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ball {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #1b5299;

  margin: 0 6px 0 0;
  animation: oscillate 0.7s ease-in forwards infinite;
}

.one {
  animation-delay: 0.5s;
}
.two {
  animation-delay: 1s;
}
.three {
  animation-delay: 2s;
}

@keyframes oscillate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fade {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0.4;
    transform: translateX(30%);
  }
  100% {
    opacity: 1;
    transform: translate(5%, 10%);
  }
}
